<section
  *ngIf="!requisitionsLoading"
  class="container px-4 mx-auto overflow-auto pb-10"
>
  <input
    (input)="onInputChange()"
    [(ngModel)]="query"
    type="text"
    placeholder="Search By Department Or Item"
    class="outline-none w-[250px] h-[40px] px-2 rounded-full text-white bg-gray-500-800"
  />
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-black dark:text-black">
          Requisitions
        </h2>
        <span
          class="px-3 py-1 text-xs text-blue-900 bg-blue-100 rounded-full dark:bg-gray-500-800 dark:text-blue-900"
        >
          {{ requisitions.length }} requisitions
        </span>
      </div>
    </div>
    <div class="flex items-center mt-4 gap-x-3">
      <button
        (click)="openDialog()"
        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>Add Requisition</span>
      </button>
    </div>
  </div>
  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div
          class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg"
        >
          <table
            class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
          >
            <thead class="bg-gray-500 dark:bg-gray-500">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  <button class="flex items-center gap-x-3 focus:outline-none">
                    <span>Department</span>
                  </button>
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Date
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Item
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Requested By
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Status
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Created At
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Created By
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody
              class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-500-900"
            >
              <tr
                *ngFor="let requisition of requisitions"
                class="hover:bg-gray-100 dark:hover:bg-gray-500-800"
              >
                <td class="py-4 px-4 text-sm font-medium text-gray-500-900">
                  {{ requisition.department }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.date | date : "shortDate" }}
                </td>
                <td class="px-4 py-4 text-sm text-gray-500">
                  <div *ngFor="let product of requisition.item">
                    <div class="font-semibold">
                      {{ getProductNameById(product.productId) }}
                    </div>
                    <div class="text-sm">Qty: {{ product.quantity }}</div>
                  </div>
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.requestedBy }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.status }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.createdAt | date : "short" }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.createdBy }}
                </td>
                <td
                  class="py-4 px-4 text-sm font-medium text-right whitespace-nowrap"
                >
                  <div class="flex items-center space-x-4">
                    <button
                      (click)="openUpdateDialog(requisition.id)"
                      class="text-blue-600 hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300"
                    >
                      Approve
                    </button>
                    <button
                      (click)="deleteRequisition(requisition.id)"
                      class="text-red-600 hover:text-red-900 dark:text-red-400 dark:hover:text-red-300"
                    >
                      <svg width="30px" height="30px" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                          <title>delete [#1487]</title>
                          <desc>Created with Sketch.</desc>
                          <defs>
                      
                      </defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)" fill="#000000">
                                  <g id="icons" transform="translate(56.000000, 160.000000)">
                                      <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z" id="delete-[#1487]">
                      
                      </path>
                                  </g>
                              </g>
                          </g>
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="requisitions.length === 0">
                <td
                  colspan="8"
                  class="py-4 px-4 text-sm text-center text-gray-500-500 dark:text-gray-500-300"
                >
                  No requisitions found.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>