<section
  *ngIf="!requisitionsLoading"
  class="container px-4 mx-auto overflow-auto pb-10"
>
  <input
    (input)="onInputChange()"
    [(ngModel)]="query"
    type="text"
    placeholder="Search By Department Or Item"
    class="outline-none w-[250px] h-[40px] px-2 rounded-full text-white bg-gray-500-800"
  />
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-white dark:text-black">
          Requisitions
        </h2>
        <span
          class="px-3 py-1 text-xs text-blue-900 bg-blue-100 rounded-full dark:bg-gray-500-800 dark:text-blue-900"
        >
          {{ requisitions.length }} requisitions
        </span>
      </div>
    </div>
    <div class="flex items-center mt-4 gap-x-3">
      <button
        (click)="openDialog()"
        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>Add Requisition</span>
      </button>
    </div>
  </div>
  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div
          class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg"
        >
          <table
            class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
          >
            <thead class="bg-gray-500 dark:bg-gray-500">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  <button class="flex items-center gap-x-3 focus:outline-none">
                    <span>Department</span>
                  </button>
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Date
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Item
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Requested By
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Status
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Created At
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Created By
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-white"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody
              class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-500-900"
            >
              <tr
                *ngFor="let requisition of requisitions"
                class="hover:bg-gray-100 dark:hover:bg-gray-500-800"
              >
                <td class="py-4 px-4 text-sm font-medium text-gray-500-900">
                  {{ requisition.department }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.date | date : "shortDate" }}
                </td>
                <td class="px-4 py-4 text-sm text-gray-500">
                  <div *ngFor="let product of requisition.item">
                    <div class="font-semibold">
                      {{ getProductNameById(product.productId) }}
                    </div>
                    <div class="text-sm">Qty: {{ product.quantity }}</div>
                  </div>
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.requestedBy }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.status }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.createdAt | date : "short" }}
                </td>
                <td
                  class="py-4 px-4 text-sm text-gray-500-500 dark:text-gray-500-300"
                >
                  {{ requisition.createdBy }}
                </td>
                <td
                  class="py-4 px-4 text-sm font-medium text-right whitespace-nowrap"
                >
                  <div class="flex items-center space-x-4">
                    <button
                      (click)="openUpdateDialog(requisition.id)"
                      class="px-4 py-2 text-sm font-medium text-green-800 bg-green-100 
                             hover:bg-green-200 rounded-md transition-colors duration-200
                             focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
                  >
                  <span class="flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                    Approve
                  </span>
                    </button>
                    <button
                      (click)="deleteRequisition(requisition.id)"
                    class="px-4 py-2 text-sm font-medium text-white bg-red-600 
                             hover:bg-red-700 rounded-md transition-colors duration-200
                             focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"
                  >
                  <span class="flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                    Delete
                  </span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="requisitions.length === 0">
                <td
                  colspan="8"
                  class="py-4 px-4 text-sm text-center text-gray-500-500 dark:text-gray-500-300"
                >
                  No requisitions found.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>