<div class="">
  <div class="flex flex-row justify-between">
    <h1 class="text-white text-center">Make Take Out Sales</h1>
    <button
      routerLink="/admin/take_out_org"
      class="bg-gray text-white rounded-lg h-10 p-2"
    >
      Take Out Organizations
    </button>
  </div>
  <div>
    <label for="status" class="block text-sm font-medium text-white"
      >Orginization</label
    >
    <select
      [(ngModel)]="selectedOrgId"
      (change)="onOrgChange()"
      class="w-full bg-gray-100 border border-gray-300 rounded p-2"
    >
      <option value="" disabled selected>Select a Orgirnization</option>
      <option *ngFor="let org of tackOutOrganization" [value]="org.id">
        {{ org.name }}
      </option>
    </select>
  </div>
  <div class="flex flex-row justify-between">
    <div>
      <label for="status" class="block text-sm font-medium text-white"
        >Select Award</label
      >
      <select
        [(ngModel)]="award"
        (change)="onAwardChange()"
        class="w-full bg-gray-100 border border-gray-300 rounded p-2"
      >
        <option value="" disabled selected>Select a Orgirnization Award</option>
        <option *ngFor="let org of Awards" [value]="org.id">
          {{ org.type }}
        </option>
      </select>
    </div>
    <div>
      <label for="pax" class="block text-sm font-medium text-white">Pax</label>
      <input type="text" [(ngModel)]="selectedAwardPax" name="pax" id="pax" />
    </div>
    <div>
      <label for="pax" class="block text-sm font-medium text-white"
        >Cost Per Pax</label
      >
      <input type="text" [(ngModel)]="selectedAwardCost" name="pax" id="pax" />
    </div>
  </div>
  <div>
    <h1 class="text-white">Select Items</h1>
    <input
      (input)="onInputChange()"
      [(ngModel)]="query"
      type="text"
      placeholder="Search"
      class="outline-none w-[250px] h-[40px] px-2 rounded-2 text-white bg-darkGray"
    />

    <div class="flex flex-row justify-between w-full">
      <!-- Display the filtered products as a scrollable list -->
      <ul
        class="text-white overflow-y-auto max-h-[140px] border rounded mt-2 p-2 w-1/2"
      >
        <li
          *ngFor="let product of filteredProducts"
          (click)="onProductClick(product)"
        >
          {{ product.product_name }}
        </li>
        <h1
          *ngIf="filteredProducts.length <= 0"
          class="text-white items-center"
        >
          search to select Items
        </h1>
      </ul>

      <!-- Table to display selected products -->
      <table
        *ngIf="selectedProducts.length > 0"
        class="mt-2 text-white w-1/2"
        style="height: 140px; overflow-y: auto"
      >
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let selectedProduct of selectedProducts; let i = index"
            class="text-white"
          >
            <td>{{ selectedProduct.product_name }}</td>
            <td>
              <input
                class="text-black"
                type="number"
                [(ngModel)]="selectedProduct.pax"
                min="1"
              />
            </td>
            <td><button (click)="removeSelectedProduct(i)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <button
      *ngIf="!posting"
      (click)="makeTakeOutOrder()"
      class="bg-gray text-white w-[30%] flex items-center justify-center mt-5 rounded-full h-10"
    >
      Make Take Out Sales
    </button>
    <button
      *ngIf="posting"
      disabled
      type="button"
      class="text-white bg-blue-700 mt-5 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center"
    >
      <svg
        aria-hidden="true"
        role="status"
        class="inline w-4 h-4 me-3 text-white animate-spin"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="#E5E7EB"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentColor"
        />
      </svg>
      Posting...
    </button>
  </div>
</div>
