<!-- credit-sales-list.component.html -->
<div class="flex justify-between">
  <h1 class="text-white text-lg">Credit Sales</h1>
  <button class="h-10 bg-gray rounded-lg text-white p-2">
    See Paid Credit Sales
  </button>
</div>

<div *ngIf="!isOpen && !isOrderModalOpen" class="p-4">
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-white">
  
      <thead class="text-xs uppercase bg-gray-800 text-white">
        <tr>
          <th scope="col" class="py-3 px-6">Order Type</th>
          <th scope="col" class="py-3 px-6">Order ID</th>
          <th scope="col" class="py-3 px-6">Customer Name</th>
          <th scope="col" class="py-3 px-6">Credit Amount</th>
          <th scope="col" class="py-3 px-6">Payment Day</th>
          <th scope="col" class="py-3 px-6">Fully Paid</th>
          <th scope="col" class="py-3 px-6">Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let order of orders" 
            class="border-b bg-gray-800 border-gray-700 hover:bg-gray-700">
          <td class="py-4 px-6 font-medium whitespace-nowrap">
            Credit-Sale
          </td>
          
          <td class="py-4 px-6 text-green-400">
            #{{ order.order_id }}
          </td>
          
          <td class="py-4 px-6">
            {{ order.customer_name }}
          </td>
          <td class="py-4 px-6 text-green-400 font-bold">
            Ksh.{{ order.credit_amount }}
          </td>
          <td class="py-4 px-6">
            {{ order.payment_date | date:'shortDate' }}
          </td>
          <td class="py-4 px-6">
            <span *ngIf="order.fully_paid" class="text-green-400 font-bold">
              Yes
            </span>
            <span *ngIf="!order.fully_paid" class="text-red-400 font-bold">
              No
            </span>
          </td>
          
          <td class="py-4 px-6">
            <div class="flex gap-2">
              <button
                (click)="openModal(order.id)"
                class="px-4 py-2 text-sm font-medium text-green-800 bg-green-100 
                hover:bg-green-200 rounded-md transition-colors duration-200
                focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"                >
                Make Payments
              </button>
              <button
                (click)="openOrderDetailsModal(order.order_id)"
                class="px-4 py-2 text-sm font-medium text-white bg-red-600 
                hover:bg-red-700 rounded-md transition-colors duration-200
                focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"                >
                Order Details
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="isOpen">
  <app-credit-sales-payment
    (onCancel)="closeModal()"
    [creditSaleId]="selectedCreditSaleId"
  ></app-credit-sales-payment>
</div>

<div *ngIf="isOrderModalOpen">
  <div
    class="bg-white rounded-lg shadow-lg p-6 w-96 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <button
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
      (click)="closeOrderDetailsModal()"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>

    <div class="text-lg font-semibold mb-4">Order Details</div>

    <div>
      <div class="flex justify-between mb-2">
        <span>Shift ID:</span>
        <span>{{ normalOrder.ShiftID }}</span>
      </div>

      <div class="flex justify-between mb-2">
        <span>Table Name:</span>
        <span>{{ normalOrder.TableName }}</span>
      </div>

      <div class="flex justify-between mb-2">
        <span>Time:</span>
        <span>{{ normalOrder.Time }}</span>
      </div>

      <div class="flex justify-between mb-2">
        <span>Total Amount:</span>
        <span>{{ normalOrder.Total }}</span>
      </div>

      <div class="mb-4">
        <span>Items:</span>
        <ul>
          <li *ngFor="let item of itemsArray">
            {{ item.name }} - {{ item.price }}
          </li>
        </ul>
      </div>

      <!-- <div class="flex justify-end">
          <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" >Confirm Payment</button>
        </div> -->
    </div>
  </div>
</div>
