<!-- Your HTML content -->
<!-- <button *ngIf="isLoggedIn" class="bg-darkGray text-white mb-3" (click)="logoutUser()">

    <i class="fa-solid fa-right-from-bracket"></i> Logout</button> -->
    <button *ngIf="isLoggedIn" (click)="logoutUser()" type="button" class="py-2.5 px-5 me-2 mt-1  mb-2 text-sm font-medium text-white focus:outline-none bg-[#ff0000] rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200  ">
        <img src="../../../assets/logout.png" alt="cosypos logo" class="w-fit h-[20px]" />
        </button>

