<div class="grid grid-cols-2 sm:grid-cols-4 gap-2 sm:gap-4">
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/products"><i class="fa fa-beer" aria-hidden="true"></i> Products</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/users"><i class="fa fa-users" aria-hidden="true"></i> Users</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/categories"><i class="fa fa-object-group" aria-hidden="true"></i> Categories</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/orders/orders-main"><i class="fa fa-check-circle" aria-hidden="true"></i> Orders</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/voided-orders"><i class="fa fa-ban" aria-hidden="true"></i> Voided Orders</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/income-report"><i class="fa fa-usd" aria-hidden="true"></i> Icome Reports</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/sales-report"> Sales Records</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/inventory"> Inventory</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/voidedOrders-Reports"> Voided Orders Reports</button>
    <button class="flex justify-center items-center bg-jadedust h-[100px] rounded-full" routerLink="/admin/suppliers"> Suppliers</button>
</div>
