<main>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <div *ngIf="!emailSent">
      <div class="header">
      </div>

      <div class="form-control">
        <div class="form-text">
          <small class="" style="text-align: justify;">Enter your email for a password reset
            link:</small>
        </div>
      </div>
      <div class="form-field">
        <div class="full-width">
          <label>Email</label>
          <input type="email" matInput formControlName="email" />
        </div>
      </div>

      <!-- <div class="form-control">
        <button
          *ngIf="!emailSent"
          mat-button
          [disabled]="this.resetPasswordForm.invalid"
        >
          <span>Submit</span>
        </button>
      </div> -->
      <div class="form-control full-width" style="padding: 0;">
        <button mat-button [disabled]="this.resetPasswordForm.invalid" style="padding: 1.5rem 0;">
          <span>Submit</span>
        </button>
      </div>

      <!-- <div class="form-control">
      <hr>
      <div class="label">Don't have an account?</div>
      <button type="button" routerLink="/signup" class="secondary">
        <mat-icon>how_to_reg</mat-icon>
        <span>Sign Up</span>
      </button>
    </div> -->

      <!-- <div class="form-control">
      <div class="label">Already have an account? <a routerLink="/login">Login</a></div>
    </div> -->
    </div>

    <div *ngIf="emailSent">
      <div class="form-control email-sent">
        <div class="label">
          <h5>Check your email for a password reset link</h5>
          <button type="button" (click)="reload()" class="secondary">
            <!-- <mat-icon>check</mat-icon> -->
            <span>OK</span>
          </button>
        </div>
        <br />
        <!-- <button type="button" routerLink="/signup" class="secondary">
        <mat-icon>how_to_reg</mat-icon>
        <span>Sign Up</span>
      </button> -->
      </div>
    </div>
    <hr />
    <div class="form-control">
      <div class="label">
        Back to Sign In? <a routerLink="/login">Login</a>
      </div>
    </div>
  </form>
</main>