<div class="flex flex-row gap-0 w-full ml-3 font-lexend  bottom-0">
<div class="w-[25%] flex flex-row gap-1">
  <div class="flex justify-center items-center w-10 h-10 bg-zinc-300 rounded-[5px] text-neutral-900 text-base font-bold ">T1</div>
  <div>
    <div class="w-[117px] text-white text-sm  ">Jackson G.</div>
    <div class="w-[121px] h-[13px] text-white text-[13px] font-normal ">3 0rders -> Open</div>
  </div>
</div>
<div class="w-[25%] flex flex-row gap-1">
  <div class="flex justify-center items-center w-10 h-10 bg-zinc-300 rounded-[5px] text-neutral-900 text-base font-bold">T1</div>
  <div>
    <div class="w-[117px] text-white text-sm  ">Shaphan S.</div>
    <div class="w-[121px] h-[13px] text-white text-[13px] font-normal ">6 0rders -> Open</div>
  </div>
</div>
<div class="w-[25%] flex flex-row gap-1">
  <div class="flex justify-center items-center w-10 h-10 bg-zinc-300 rounded-[5px] text-neutral-900 text-base font-bold ">T1</div>
  <div>
    <div class="w-[117px] text-white text-sm  ">Vincent T.</div>
    <div class="w-[121px] h-[13px] text-white text-[13px] font-normal ">5 0rders -> Open</div>
  </div>
</div>
<div class="w-[25%] flex flex-row gap-1">
  <div class="flex justify-center items-center w-10 h-10 bg-zinc-300 rounded-[5px] text-neutral-900 text-base font-bold ">T1</div>
  <div>
    <div class="w-[117px] text-white text-sm  ">Brenes C.</div>
    <div class="w-[121px] h-[13px] text-white text-[13px] font-normal ">10 0rders -> Open</div>
  </div>
</div>


</div>