<!-- rooms.component.html -->

<!-- rooms.component.html -->

<div *ngIf="!isOpen" class="container mx-auto mt-8">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold">Rooms List</h2>
    <button
      (click)="openModal()"
      class="bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded-md"
    >
      Add New Room
    </button>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300 rounded">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">Room Number</th>
          <th class="py-2 px-4 border-b">Cost Per Day</th>
          <th class="py-2 px-4 border-b">Available</th>
          <th class="py-2 px-4 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td class="py-2 px-4 border-b">{{ room.room_number }}</td>
          <td class="py-2 px-4 border-b">Ksh. {{ room.cost_per_day }}</td>
          <td class="py-2 px-4 border-b">
            {{ room.available === 1 ? "Yes" : "No" }}
          </td>
          <td class="py-2 px-4 border-b">
            <button class="text-indigo-600 hover:text-indigo-800 mr-2">
              Edit
            </button>
            <button class="text-red-600 hover:text-red-800">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="isOpen" class="container mx-auto mt-8">
  <div class="max-w-md mx-auto bg-white p-8 border rounded shadow">
    <h2 class="text-2xl font-bold mb-6">Add New Room</h2>

    <form>
      <div class="mb-4">
        <label
          for="roomNumber"
          class="block text-gray-600 text-sm font-medium mb-2"
          >Room Number:</label
        >
        <input
          [(ngModel)]="newRoom.room_number"
          ype="text"
          id="roomNumber"
          placeholder="Room Number"
          name="roomNumber"
          class="w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <div class="mb-4">
        <label
          for="costPerDay"
          class="block text-gray-600 text-sm font-medium mb-2"
          >Cost Per Day:</label
        >
        <input
          [(ngModel)]="newRoom.cost_per_day"
          type="number"
          id="costPerDay"
          name="costPerDay"
          class="w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <div class="mb-4">
        <label
          for="available"
          class="block text-gray-600 text-sm font-medium mb-2"
          >Available:</label
        >
        <select
          [(ngModel)]="newRoom.available"
          id="available"
          name="available"
          class="w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>

      <div class="mt-6 flex justify-between">
        <button
          (click)="AddRoom()"
          type="submit"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Add Room
        </button>
        <button
          (click)="closeModal()"
          type="submit"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          close
        </button>
      </div>
    </form>
  </div>
</div>
