<div class=" h-[550px] w-[280px] max-w-md p-2 bg-[#292c2d] text-white relative float-right">
    <div class="flex flex-col">
        <div class="flex flex-col space-y-8">
            <div>
                <div class="font-normal text-xl">Table Management</div>
                <div class="font-light text-sm">Feb 4 2023 - 8:25 am</div>
            </div>

            <div class="mb-2 font-normal text-xl">Reservation</div>
        </div>

        <ul class=" divide-y divide-white">
            <li class="py-2" *ngFor="let dtl of data" >
                <div class="flex items-center space-x-2">
                    <div class="flex-shrink-0">
                        <div class="rounded-full bg-white text-black p-1">
                            C1
                        </div>
                    </div>
                    <div class="">
                       {{dtl.name}}
                    </div>
                    <div>x{{dtl.num}}</div>
                    <div class="border-1 border-white-500 h-[20px]"></div>
                    <div>{{dtl.time}}</div>
                    <div>
                    </div>
                </div>
            </li>     
        </ul>
    </div>
<div class="absolute bottom-1 ">
    <div class="  flex flex-row justify-between w-[250px] h-[50px] items-center space-x-8">
        <button class=" items-center justify-center  w-[80px]  h-[36px] text-white">Cancel</button>
        <button
            class="  font-normal text-sm justify-center  bg-white  text-black w-[100px] h-[36px] rounded-full py-2 px-3">
            Check in
    </button>

    </div>
</div>
    
</div>
